body {
    text-align: center;
    margin: 0px;
    background-color: rgb(197, 141, 214);
}

#welcome {
    background: linear-gradient(aquamarine 0%, rgb(197, 141, 214) 100%);
    width: 100%;
    display: table;
    padding: 100px 0;
}

#perfil {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
}

#ibagemPerfil {
    width: 20%;
    border-radius: 50%;
}

h1 {
    font-weight: 500;
    font-size: 40px;
}

.nome {
    font-weight: 600;
    font-size: 44px;
}

h2 {
    font-weight: 400;
    font-size: 30px;
}

#sobre {
    font-size: 20px;
    font-weight: 200;
}

.line {
    width: 100px;
    height: 6px;
    background-color: aquamarine;
    margin: 0 auto 30px;
}